* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
    outline: 0;
    font-weight: 600;
    font-family: "Montserrat", sans-serif;
}

html {
    scroll-behavior: smooth;
}

header {
    position: fixed;
    height: 6.375rem;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    background-color: #090915;
}

header a {
    color:  #ffffff;
}

.descricao {
    padding: 0 3.125rem;
    height: 38.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #101029;
}

.descricao h1 {
    color: #ffffff;
}

.descricao span {
    color: #9595D6;
}

.esquerda-descricao {
    padding: 0 4.375rem;
    display: flex;
    flex-direction: column;
    font-weight: 600;
}

.esquerda-descricao h1 {
    font-size: 2.625rem;
}

.esquerda-descricao span {
    font-size: 2.125rem;
}

.esquerda-descricao a{
    color: #ffffff;
}

.botoes {
    margin: 1.875rem 0 0 0;
    display: flex;
    gap: 3.125rem;
}

#comprar-botao-descricao {
    height: 3rem;
    width: 9.688rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.813rem;
    background-color: #3939A4;
}

#comprar-botao-descricao:hover {
    transition: 0.6s;
    color: #3939A4;
    background-color: #ffffff;
}

#ver-mais-botao {
    height: 3rem;
    width: 0.938rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1.813rem;
    border: 0.063rem solid #ffffff;
}

#ver-mais-botao:hover {
    transition: 0.6s;
    background-color: #5467C7;
}

.direita-descricao {
    padding: 0 4.375rem;
}

.botoes {
    display: flex;
}

.botoes a {
    color: #ffffff;
}

.carrosel {
    height: 12.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-carrosel {
    margin: 1.938rem 0 0 0;
    display: flex;
    gap: 4.375rem;
}

.carrosel .card {
    height: 6.375rem;
    width: 4.938rem;
    border: 0.063rem solid red;
}

.carrosel a {
    margin: 2.5rem 0 0 0;
    height: 1.563rem;
    width: 5.375rem;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 0.75rem;
    border-radius: 1.813rem;
    color: #ffffff;
    background-color: #5F5FB9;
}

.carrosel a:hover {
    transition: 0.6s;
    background-color: #3838a3;
}

.sinopse {
    padding: 0 3.125rem;
    height: 38.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #101029;
}

.esquerda-sinopse {
    padding: 0 4.375rem;
}

.direita-sinopse {
    padding: 0 4.375rem;
}

.direita-sinopse h1 {
    margin: 0 0 4.375rem 0;
}

.direita-sinopse p {
    margin: 0 0 4.375rem 0;
    font-weight: 500;
}

.comprar-sinopse {
    display: flex;
    align-items: center;
    justify-content: center;
}

#comprar-sinopse {
    padding: 0.938rem 1.25rem 0.938rem 1.25rem;
    font-weight: 700;
    border-radius: 1.813rem;
    color: #ffffff;
    background-color: #35A2D0;
}

#comprar-sinopse:hover {
    transition: 0.6s;
    color: #35A2D0;
    background-color: #ffffff;
}

.ser-anunciante {
    height: 38.25rem;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #ffffff;
}

.titulo-anunciante {
    margin:  0 0 1.25rem 0;
    text-align: center;
}

.titulo-anunciante h1 {
    font-weight: 700;
}

.ser-anunciante .card {
    height: 31.438rem;
    width: 23.438rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 0.938rem;
    background-color: #121223;
}

.ser-anunciante .textfield {
    width: 90%;
    display: flex;
    flex-direction: column;
    align-self: center;
    gap: 1.875rem;
}

.textfield label {
    font-weight: 500;
}

.textfield input {
    padding: 0 0 0.625rem 0.625rem;
    background-color: transparent;
    font-weight: 500;
    border: none;
    color: #ffffff;
    border-bottom: 0.063rem solid #ffffff;
}

.textfield .dados {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
}

.enviar-anunciante {
    margin: 1.875rem 1.25rem 0 0;
    display: flex;
    align-items: end;
    justify-content: end;
}

.enviar-anunciante a {
    height: 1.75rem;
    width: 4.75rem;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2.25rem;
    color: #3939A4;
    background-color: #ffffff;
}

.enviar-anunciante a:hover {
    transition: 0.6s;
    color: #ffffff;
    background-color: #3939A4;
}

.quem-somos {
    padding: 0 5.75rem;
    height: 21.75rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #101029;
}

.quem-somos h1 {
    margin: 0 0 2.5rem 0;
    font-weight: 600;
}

.quem-somos p {
    font-weight: 500;
}

footer {
    height: 8.563rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    color: #ffffff;
    background-color: #090915;
}

footer span {
    font-weight: 500;
}

.login-body {
    background-color: #101029;
    z-index: -62.5rem;
}

.login-logo {
    height: 4.668rem;
    width: auto;
}


.blur-background-form {
    z-index: 200;
    width: 100vw;
    height: 100vh;
    position: absolute;
    background-color: transparent;
    backdrop-filter: blur(0.313rem);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.login-header {
    position: absolute;
    top:0;
}

.form-login-container {
    width: 33.333%;
    min-height: 29.063rem;
    background-color: #121223;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0.938rem;
    padding: 1.5rem;
}

.form-register-container::-webkit-scrollbar {
    width: 12px;
    border: 1px solid #090915;
    background-color: #ffffff;
    border-radius: 4px;
    padding: 2px;
}
.form-register-container {
    width: 33.333%;
    max-height: 700px;
    background-color: #121223;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
    padding: 12px;
    border: 1px solid #7F7FFC;
    display: block;
    overflow-y: auto;
    overflow-x:hidden;
}
.login-title {
    width: 100%;
    height: auto;
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    margin: 1.875rem;
}
.login-form-label {
    color: #ffffff;
    font-size: 0.938rem;
    width: 100% !important;
    margin: 0.25rem;
    display: block;
    margin-bottom: 2rem;
    margin-top: 2rem;
}
.form-input {
    width: 100%;
    border: none;
    border-bottom: 0.125rem solid #ffffff !important;
    background-color: transparent !important;
    padding: 0.125rem;
    color: #ffffff;
}
.login-form {
    width: 100%;
    background-color: transparent;   
}

.button-container {
    width: 100%;
    padding: 8px;
    margin-top: 64px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.login-button {
    padding: 10px;
    border: 1px solid #ffffff;
    background-color: #ffffff;
    border-radius: 15px;
    color: #3939A4;
    font-size: 15px;
    cursor: pointer;
}

.register-question {
    width: 100%;
    color: #ffffff !important;
    font-size: 12px;
    text-align: center;
    margin-top: 4px;
}

.register-user {
    color: #7F7FFC;
    cursor: pointer;
}

.no-script {
    color: #ffffff;
    font-size: 12px;
    text-align: center;
}

.close-blur {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 32px;
    height: 32px;
    border: 1px solid #121223;
    background-color: #ffffff;
    color: #121223;
    border-radius: 100%;
    position: absolute;
    top: 20px;
    right: 20px;
    cursor: pointer
}

li[class^="parsley-"] {
    font-size: 12px !important;
    color: indianred !important;
}

.parsley-error {
    font-size: 12px !important;
    color: indianred !important;
    text-align: center;
}